header {
    font-family: monospace;
}

ul {
    list-style-type: none;
  }

a {
    display: block;
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

body {
    background-color: #EAEBCB;
}