header {
    font-family: monospace;
    float: right;
    padding-right: 20%;
}

ul {
    list-style-type: none;
  }

a {
    display: block;
    text-decoration: none;
    color: black;

}

a:hover {
    color: green;
}

body {
    background-color: #EAEBCB;
}